@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;
@use "sass:map";

@include mixins.generate-border-utilities();

// == utilities/_spacing.scss ==
@for $i from 0 through 96 {
  .m--#{$i} {
    margin: $i * 4px !important;
  }

  .mt--#{$i} {
    margin-top: $i * 4px !important;
  }

  .mr--#{$i} {
    margin-right: $i * 4px !important;
  }

  .mb--#{$i} {
    margin-bottom: $i * 4px !important;
  }

  .ml--#{$i} {
    margin-left: $i * 4px !important;
  }
}

$gap-keys: (
  xsmall,
  small,
  medium,
  large,
  xlarge,
  xxlarge
);

@each $key in $gap-keys {
  .gap--#{$key} {
    gap: map.get((xsmall: vars.$gap-xsmall, small: vars.$gap-small, medium: vars.$gap-medium, large: vars.$gap-large, xlarge: vars.$gap-xlarge, xxlarge: vars.$gap-xxlarge), $key) !important;
  }
}

.gap--space-between {
  gap: 0 !important;
  justify-content: space-between !important;
}

@for $i from 5 through 50 {
  $val: $i * 1px;

  .gap--\[#{$val}\] {
    gap: $val !important;
  }
}