@for $i from 0 through 96 {
  .w--#{$i} {
    width: $i * 4px !important;
    min-width: $i * 4px !important;
    max-width: $i * 4px !important;
  }

  .h--#{$i} {
    height: $i * 4px !important;
    min-height: $i * 4px !important;
    max-height: $i * 4px !important;
  }
}

.w--full,
.w-full {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.h--full,
.h-full {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

.w--auto,
.w-auto {
  width: auto !important;
  min-width: auto !important;
  max-width: none !important;
}