@use "../abstracts/variables" as vars;

// Flexbox helpers
.layout {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: vars.$gap;
}

.layout--col {
  flex-direction: column;
}

.layout--row {
  flex-direction: row;
}

// Alignment modifiers
$h-alns: (
  left: flex-start,
  center: center,
  right: flex-end
);
$v-alns: (
  top: flex-start,
  center: center,
  bottom: flex-end
);

@each $class, $prop in $h-alns {
  .layout--#{$class} {
    justify-content: #{$prop};
  }

  .layout--row.layout--#{$class} {
    justify-content: #{$prop};
  }
}

@each $class, $prop in $v-alns {
  .layout--#{$class} {
    align-items: #{$prop};
  }

  .layout--col.layout--#{$class} {
    justify-content: #{$prop};
  }
}