@use "../abstracts/variables" as vars;

.metrics {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$gap*4 vars.$gap;
  justify-content: center;
  align-content: center;
}

.metric {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: vars.$gap;
}

.value {
  font-family: "Inter Variable", Inter;
  font-size: 38px;
  line-height: 42px;
  font-weight: 450;
}