// Core variables: sizes, gaps, colors
$screen-w: 800px !default;
$screen-w-v2: 1200px !default;
$screen-h: 480px !default;
$screen-h-v2: 825px !default;

$gap-xsmall: 5px !default;
$gap-small: 7px !default;
$gap: 10px !default;
$gap-medium: 16px !default;
$gap-large: 20px !default;
$gap-xlarge: 30px !default;
$gap-xxlarge: 40px !default;
$list-gap-small: 8px !default;
$list-gap-large: 16px !default;
$title-bar-h: 40px !default;
$title-bar-small-h: 32px !default;

// Derived dimensions
$full-w: $screen-w - $gap * 2;
$full-h: $screen-h - $gap * 2;
$quadrant-w: calc(($screen-w - $gap * 2) / 2) - calc($gap / 2);
$quadrant-h: calc(($screen-h - $gap * 2) / 2) - calc($gap / 2);
$half-vertical-w: calc(($screen-w - $gap * 2) / 2) - calc($gap / 2);
$half-vertical-h: $screen-h - $gap * 2;
$half-horizontal-w: $screen-w - $gap * 2;
$half-horizontal-h: calc(($screen-h - $gap * 2) / 2) - calc($gap / 2);

$bases: (
  yellow:  #FFFF00,
  red:     #FF0000,
  blue:    #0000FF,
  green:   #00FF00,
) !default;
